<header class="text-center py-[20px]">
  <div class="container mx-auto px-4">
    <div class="flex justify-center bg-gray-100 py-[10px]">
      <div class="text-center ">
        <div class="name">
          <h1 class="text-3xl font-light text-[44px]">
            <span class="text-black-600 font-extrabold">Hello.</span> I'm <span class="text-orange-500 font-extrabold">John Harrie</span>
          </h1>
          <h3 class="text-[14px] font-light tracking-[9px] mt-2">
            And I am A Graphic Designer
          </h3>
        </div>
      </div>
    </div>
  </div>
</header>

