<section class="contact">
  <div class="container mx-auto">
    <div class="flex text-[16px] justify-between px-[40px] py-[10px] bg-gray-200">
        <p class="font-extrabold text-orange-500">CONTACT ME</p>
        <p><i class="fa-solid fa-phone text-orange-500 mr-[5px]"></i> +4-756-822-5156</p>
        <p><i class="fa-solid fa-globe text-orange-500 mr-[5px]"></i> www.yourwebsite.com</p>
        <p><i class="fa-solid fa-location-dot text-orange-500 mr-[5px]"></i> 1173 Valley Street Camden</p>
    </div>
  </div>
</section>

