<div class="container mx-auto">
  <div class="flex items-center mb-[30px] translate-x-[20px]">
    <button (click)="toggleContent()" class="text-lg w-full font-extrabold p-[7px] bg-gray-200 rounded-[10px] text-black">
      <i class="fa-solid fa-rotate text-orange-500"></i> REFERENCES
    </button>
  </div>

  <div *ngIf="isExpanded" class="expanded relative">
    <ul class="space-y-6 relative ">

      <!-- Michael R. Magee -->
      <li class="relative flex items-center space-x-4">
        <div class="flex flex-col pb-4 pl-[20px]">
          <b class="text-lg font-extrabold">MICHAEL R. MAGEE</b>
          <h3 class="text-sm text-black tracking-[5px] font-light">4418 Bobcat Drive</h3>
          <p class="text-sm py-[15px]">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa debitis, dolor ducimus hic possimus quaerat quas, quisquam saepe.
            Lorem ipsum
          </p>
        </div>
      </li>

      <!-- Travis M. Godinez -->
      <li class="relative flex items-center space-x-4">
        <div class="flex flex-col pb-4 pl-[20px]">
          <b class="text-lg font-extrabold">TRAVIS M. GODINEZ</b>
          <h3 class="text-sm text-black tracking-[5px] font-light">2755 Oakmound Drive</h3>
          <p class="text-sm py-[15px]">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa debitis, dolor ducimus hic possimus quaerat quas, quisquam saepe.
            Lorem ipsum dolor
          </p>
        </div>
      </li>

      <!-- Gilbert R. Cross -->
      <li class="relative flex items-center space-x-4">
        <div class="flex flex-col pb-4 pl-[20px]">
          <b class="text-lg font-extrabold">GILBERT R. CROSS</b>
          <h3 class="text-sm text-black tracking-[5px] font-light">1706 Pretty View Lane</h3>
          <p class="text-sm py-[15px]">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis culpa debitis, dolor ducimus hic possimus quaerat quas, quisquam saepe.
            Lorem ipsum dolor sit amet,
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
