<div class="col-xl-3 coll-md-6 col-12">
  <div class="flex items-center mb-[30px]">
    <button (click)="toggleContent()"
            class="text-lg w-full font-extrabold p-[7px] bg-gray-200 rounded-[10px] text-black">
      <i class="fa-solid fa-graduation-cap text-orange-500"></i> MY SKILLS
    </button>
  </div>


  <div *ngIf="isExpanded" class="relative">
    <ul id="skills-list" class="skills py-[20px] flex flex-col gap-[10px] relative pl-6">

      <div class="absolute top-0 left-[18px] w-[2px] translate-y-[30px] bg-gray-200 h-[230px]"></div>

      <div class="flex flex-col pb-4 pl-[20px]">
        <div class="w-[10px] h-[10px] bg-orange-500 absolute left-[14px] -translate-y-[0] z-10"></div>
        <b>Microsoft Word</b>
        <input
          class="my_input"
          type="range"
          [value]="700"
          min="0"
          max="1000"
          (input)="updateSlider($event)"
          [style.background]="getSliderBackground(700)"
        />
      </div>

      <div class="flex flex-col pb-4 pl-[20px]">
        <div class="w-[10px] h-[10px] bg-orange-500 absolute left-[14px] -translate-y-[-10px] z-10"></div>
        <b>Web Designing</b>
        <input
          class="my_input"
          type="range"
          [value]="500"
          min="0"
          max="1000"
          (input)="updateSlider($event)"
          [style.background]="getSliderBackground(500)"
        />
      </div>

      <div class="flex flex-col pb-4 pl-[20px]">
        <div class="w-[10px] h-[10px] bg-orange-500 absolute left-[14px] -translate-y-[-10px] z-10"></div>
        <b>Graphic Designer</b>
        <input
          class="my_input"
          type="range"
          [value]="600"
          min="0"
          max="1000"
          (input)="updateSlider($event)"
          [style.background]="getSliderBackground(600)"
        />
      </div>

      <div class="flex flex-col pb-4 pl-[20px]">
        <div class="w-[10px] h-[10px] bg-orange-500 absolute left-[14px] -translate-y-[-10px] z-10"></div>
        <b>Blendar Designer</b>
        <input
          class="my_input"
          type="range"
          [value]="400"
          min="0"
          max="1000"
          (input)="updateSlider($event)"
          [style.background]="getSliderBackground(400)"
        />
      </div>

      <div class="flex flex-col pb-4 pl-[20px]">
        <div class="w-[10px] h-[10px] bg-orange-500 absolute left-[14px] -translate-y-[-10px] z-10"></div>
        <b>PowerPoint Designer</b>
        <input
          class="my_input"
          type="range"
          [value]="800"
          min="0"
          max="1000"
          (input)="updateSlider($event)"
          [style.background]="getSliderBackground(800)"
        />
      </div>
    </ul>
  </div>
</div>
