<div class="container mx-auto">
  <div class="flex items-center gap-[30px] mb-[30px]">
    <button (click)="toggleContent()" class="relative flex items-center">
      <div class="w-[10px] h-[10px] bg-orange-500 absolute left-[14px] -translate-y-[10px] z-10"></div>
    </button>

    <div class="flex items-center pb-4 pl-[20px]">
      <h3 class="text-lg font-extrabold p-[7px] bg-gray-200 rounded-[10px] text-black flex items-center gap-2">
        <i class="fa-solid fa-trophy text-orange-500"></i> AWARDS
      </h3>
    </div>
    <span class="flex-grow ml-[10px] border-b-[3px] border-orange-500"></span>
  </div>

  <div *ngIf="isExpanded" class="expanded relative">
    <ul class="space-y-6 relative pl-6">

      <li *ngFor="let award of awards" class="relative flex items-center space-x-4">
        <div class="w-[10px] h-[10px] bg-orange-500 absolute left-[-10px] -translate-y-[72px] z-10"></div>
        <div class="flex flex-col pb-4 pl-[20px]">
          <h3 class="text-lg font-extrabold">{{ award.title }}</h3>
          <p class="text-sm text-black tracking-[5px] font-light">
            {{ award.company }} <span class="font-extrabold tracking-normal">{{ award.years }}</span>
          </p>
          <p class="text-sm py-[15px]">{{ award.description }}</p>
        </div>
      </li>
    </ul>

    <div class="absolute top-0 translate-y-[-70px] left-[18px] w-[2px] bg-gray-200 h-[250px]"></div>
  </div>
</div>

